---
title: Index Page
---
extends layouts/_layout
block content
  .fix-icon
    a(href="#")
      i.icon.icon-mail
      | E-Mail
    a(href="#")
      i.icon.icon-chat
      | Chat
  include ./home/intro
  include ./home/rating
  include ./home/prices
  include ./home/discount
  include ./home/advantages
  include ./home/technology
  include ./home/reviews
  include ./home/clients