footer.footer
  .footer__top
    .container
      .row.middle-xs
        .col-sm-6.col-xs-12
          .footer__logo
            img(src="img/logo.png", alt="")
        .col-sm-6.col-xs-12
          .footer__btn
            a(href="#").btn.btn-primary Live Chat
            a(href="#").btn.btn-secondary Client Area
      .row.center-xs.start-md
        .col-md-9.col-xs-12
          .row
            .col-sm-4.col-xs-12
              .footer__top__nav
                h2 Company
                ul
                  li
                    a(href="#") About Us
                  li
                    a(href="#") Green Hosting
                  li
                    a(href="#") Energy Savings
                  li
                    a(href="#") Jobs
                  li
                    a(href="#") Premium Service
                  li
                    a(href="#") Partners
            .col-sm-4.col-xs-12
              .footer__top__nav
                h2 Products
                ul
                  li
                    a(href="#") Hosting
                  li
                    a(href="#") Domains
                  li
                    a(href="#") Homepage
                  li
                    a(href="#") E-Mail
                  li
                    a(href="#") SSL-Certificates
                  li
                    a(href="#") Cloud Backup
                  li
                    a(href="#") VPS
                  li
                    a(href="#") Wordpress Management
            .col-sm-4.col-xs-12
              .footer__top__nav
                h2 Formal
                ul
                  li
                    a(href="#") Privacy Policy
                  li
                    a(href="#") License Agreement
                  li
                    a(href="#") FAQ
                  li
                    a(href="#") Knowledge Base
                  li
                    a(href="#") Data Security
                  li
                    a(href="#") Server Architecture
                  li
                    a(href="#") Finances
                  li
                    a(href="#") Servers
        .col-md-3.col-sm-5.col-xs-12
          .footer__connect
            h2 Stay Connected
            .footer__social
              ul
                li
                  a(href="#")
                    i.icon.icon-facebook
                li
                  a(href="#")
                    i.icon.icon-in
                li
                  a(href="#")
                    i.icon.icon-twitter
            h2 Subscribe for News
            .footer__email
              input(type="email" placeholder="Your Email Address" id="mail")
              label(for="mail")
                i.icon.icon-arrow-right
  .footer__bottom
    .container
      .row
        .col-md-7.col-xs-12
          .footer__bottom__link
            a(href="#") Terms & Conditions
            span |
            a(href="#") Privacy Policy
            span |
            a(href="#") Sitemap
        .col-md-5.col-xs-12.end-xs
          p 
            img(src="img/c.png", alt="")
            | Zokahost LTD. 2003-2018. All Rights Reserved
  .footer__dicount
    .footer__dicount__block
      h3 10% Discount For
      p Newsletter <br>Signup