//BEGIN header
header.header
  .menu-open
    span
  .header__top
    .container
      .row
        .col-sm-6.col-xs-12
          .header__logo
            img(src="img/logo.png", alt="")
        .col-sm-6.col-xs-12
          .header__btn
            a(href="#").btn.btn-primary Live Chat
            a(href="#").btn.btn-secondary Client Area
  .header__nav
    .container
      .row.middle-xs
        .col-md-6.col-sm-8
          nav
            ul
              li
                a(href="#") Domains
              li
                a(href="#") Hosting
              li
                a(href="#") VPS
              li
                a(href="#") Security
              li
                a(href="#") About
        .col-md-6.col-sm-4.end-xs
          a(href="#").header__basket 1
            i.icon.icon-basket
//END header
