.bg
.menu#menu
  .menu-close
    span
  ul
    li
      img(src="img/logo.png", alt="")
    li
      a(href="#") Domains
    li
      a(href="#") Hosting
    li
      a(href="#") VPS
    li
      a(href="#") Security
    li
      a(href="#") About
  a(href="#").menu__basket 1
    i.icon.icon-basket