.bg
.menu#menu
  .menu-close
    span
  ul
    li
      img(src="img/logo.png", alt="")
    li
      a(href="#") Domains
    li
      a(href="#") Hosting
    li
      a(href="#") VPS
    li
      a(href="#") Security
    li
      a(href="#") About
  a(href="#").menu__basket 1
    i.icon.icon-basket



.modal.pop-up#pop-up
  a(href="#" rel="modal:close").modal-close Close
  h2 Stay Updated
  h3 Get 10% Off
  p Subscribe to our weekly Newsletter to get new and special offers directly to your inbox.
  .pop-up__input
    input(type="email" placeholder="Your Email Address")
    input(type="submit" value="Submit").btn.btn-primary