section.advantages
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 Why Zokahost?
      .col-md-4.col-sm-6.col-xs-12
        a(href="#").advantages__block
          .advantages__block__img
            img(src="img/advantages/advantages__block-1.png", alt="")
          .advantages__block__text
            h2 Ultra-Fast Cloud Hosting
            p Has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea
      .col-md-4.col-sm-6.col-xs-12
        a(href="#").advantages__block
          .advantages__block__img
            img(src="img/advantages/advantages__block-2.png", alt="")
          .advantages__block__text
            h2 Free CPanel Migrations
            p Has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea
      .col-md-4.col-sm-6.col-xs-12
        a(href="#").advantages__block
          .advantages__block__img
            img(src="img/advantages/advantages__block-3.png", alt="")
          .advantages__block__text
            h2 Super Safe and Secure
            p Has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea
      .col-md-4.col-sm-6.col-xs-12
        a(href="#").advantages__block
          .advantages__block__img
            img(src="img/advantages/.png", alt="")
          .advantages__block__text
            h2 30 Day Money-Back Guarantee
            p Has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea
      .col-md-4.col-sm-6.col-xs-12
        a(href="#").advantages__block
          .advantages__block__img
            img(src="img/advantages/.png", alt="")
          .advantages__block__text
            h2 Daily Backups
            p Has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea
      .col-md-4.col-sm-6.col-xs-12
        a(href="#").advantages__block
          .advantages__block__img
            img(src="img/advantages/.png", alt="")
          .advantages__block__text
            h2 99.9% Uptime Guarantee
            p Has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea
      .col-xs-12.center-xs
        a(href="#").btn.btn-primary More Features
