section.prices
  .container
    .row.start-md.center-xs
      .col-md-4.col-sm-7.col-xs-12.start-xs
        .prices__block
          .prices__block__title
            h2 Cloud Web Hosting
            p Perfect for small but busy Websites.
            .prices__block__sale
              p Value
          .prices__block__value
            p prices from
            b
              span 1.99
              | / month
          ul
            li
              i.icon.icon-check
              | Up to 5 Sites
            li
              i.icon.icon-check
              | Fast SSD Disk Space
            li 
              i.icon.icon-check
              | Unlimited Bandwidth
            li
              i.icon.icon-check
              | Free SSL Certificate
          .prices__block__btn
            a(href="#") Find out more
              i.icon.icon-arrow-right
      .col-md-4.col-sm-7.col-xs-12.start-xs
        .prices__block
          .prices__block__title
            h2 Business Hosting
            p The Powerhouse. Perfect for businesses of all sizes.
          .prices__block__value
            p prices from
            b
              span 24.99
              | / month
          ul
            li 
              i.icon.icon-check
              | Unlimited Hosted Sites
            li
              i.icon.icon-check
              | Up to 200 GB SSD Space
            li
              i.icon.icon-check
              | Full DDOS Protection
            li
              i.icon.icon-check
              | 10 x 200 MB Mailboxes
          .prices__block__btn
            a(href="#") Find out more
              i.icon.icon-arrow-right
      .col-md-4.col-sm-7.col-xs-12.start-xs
        .prices__block
          .prices__block__title
            h2 VPS
            p Secure and reliable. Suited for all data-conscious users.
          .prices__block__value
            p prices from
            b 
              span 3.99
              | / month
          ul
            li 
              i.icon.icon-check
              | Unlimited Hosted Sites
            li
              i.icon.icon-check
              | Up to 200 GB SSD Space
            li
              i.icon.icon-check
              | Full DDOS Protection
            li
              i.icon.icon-check
              | 10 x 200 MB Mailboxes
          .prices__block__btn
            a(href="#") Find out more
              i.icon.icon-arrow-right
    .row
      .col-xs-12
        .prices__block.prices__block-secondary
          .prices__block__title
            p Automated Content Management
            h2 Fully Managed Wordpress
          .prices__block__value
            p prices from
            b 
              span 4.89
              | / month
          .prices__block__btn
            a(href="#") Find out more
              i.icon.icon-arrow-right
          