section.rating
  .container
    .rating__block
      p Excellent
      ul.star
        li
          a(href="#")
            i.icon.icon-star
        li
          a(href="#")
            i.icon.icon-star
        li
          a(href="#")
            i.icon.icon-star
        li
          a(href="#")
            i.icon.icon-star
        li
          a(href="#")
            i.icon.icon-star
      p 9.3 out of 10
      img(src="img/truspilot.png", alt="")