section.reviews
  .heading.heading-secondary
    h2 Testimonials
  .swiper
    .container
      .swiper-container.swiper-reviews
        .swiper-wrapper
          .swiper-slide
            .reviews__block
              h3 Username
              ul.star.star-secondary
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
              p Facer accusata reprimique sed cu, has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea cum diam diceret evertitur.
          .swiper-slide
            .reviews__block
              h3 Username
              ul.star.star-secondary
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
              p Facer accusata reprimique sed cu, has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea cum diam diceret evertitur.
          .swiper-slide
            .reviews__block
              h3 Username
              ul.star.star-secondary
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
                li
                  a(href="#")
                    i.icon.icon-star
              p Facer accusata reprimique sed cu, has modo equidem ut. Pro tota ubique vidisse in, quod vero sensibus mea et, ea cum diam diceret evertitur.
        .swiper-pagination.swiper-pagination-reviews