section.technology
  .swiper
    .container
      .swiper-container.swiper-technology
        .swiper-wrapper
          .swiper-slide
            .row.middle-xs
              .col-md-5.col-sm-6.col-xs-12
                p Technology that just works
                h2 TrueCloud works for your business.
                span A Failsafe System that keeps you online, long-term.
                .technology__btn
                  a(href="#").btn.btn-primary Learn More
                  a(href="#") Sign Up
                    i.icon.icon-arrow-right
              .col-md-7.col-sm-6.col-xs-12.start-md.center-xs
                img(src="img/technology-1.png", alt="")
          .swiper-slide
            .row.middle-xs
              .col-md-5.col-sm-6.col-xs-12
                p Technology that just works
                h2 TrueCloud works for your business.
                span A Failsafe System that keeps you online, long-term.
                .technology__btn
                  a(href="#").btn.btn-primary Learn More
                  a(href="#") Sign Up
                    i.icon.icon-arrow-right
              .col-md-7.col-sm-6.col-xs-12.start-md.center-xs
                img(src="img/technology-1.png", alt="")
          .swiper-slide
            .row.middle-xs
              .col-md-5.col-sm-6.col-xs-12
                p Technology that just works
                h2 TrueCloud works for your business.
                span A Failsafe System that keeps you online, long-term.
                .technology__btn
                  a(href="#").btn.btn-primary Learn More
                  a(href="#") Sign Up
                    i.icon.icon-arrow-right
              .col-md-7.col-sm-6.col-xs-12.start-md.center-xs
                img(src="img/technology-1.png", alt="")
        .swiper-pagination.swiper-pagination-technology
      .swiper-button-next.swiper-technology-next
        i.icon.icon-arrow-right
      .swiper-button-prev.swiper-technology-prev
        i.icon.icon-arrow-left